<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="/fragments/header :: header"/>
</head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<div class="container">


    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

</div>

</div>
<div class="container">

    <h3>List of products</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> ID</th>
            <th>Product Name</th>
            <th>EAN Number</th>
            <th>Pcs in Stock</th>
            <th>price</th>
            <th>Add product to cart</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="tempProduct : ${product}">

            <td th:text="${tempProduct.id}"/>
            <td th:text="${tempProduct.productName}"/>
            <td th:text="${tempProduct.eanNumber}"/>
            <td th:text="${tempProduct.inStock}"/>
            <td th:text="${tempProduct.price}"/>

            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/cart/add_to_cart}" method="POST">
                            <input type="hidden" name="productId" th:value="${tempProduct.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Add to Cart</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <a th:href="@{/cart/info}"
       class="btn btn-primary btn-sm mb-3">
        CART
    </a>
</div>

</body>
</html>










