<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Product Directory</title>
</head>
<body>
<div class="container">

	<h3>Product Directory</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/products/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Product
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th> ID </th>
				<th>Product Name</th>
				<th>EAN Number</th>
				<th>Pcs in Stock</th>
				<th>price</th>
				<th></th>

			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempProduct : ${product}">

				<td th:text="${tempProduct.id}" />
				<td th:text="${tempProduct.productName}" />g
				<td th:text="${tempProduct.eanNumber}" />
				<td th:text="${tempProduct.inStock}" />
				<td th:text="${tempProduct.price}" />
				
				<td>
				<div class="row">
				
					<div class="col-small">
					<!-- Add "update" button/link -->
					<form action="#" th:action="@{/products/showFormForUpdate}" method="POST">
					
						<input type="hidden" name="productId" th:value="${tempProduct.id}" />
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

					</form>
					</div>
					
					<div class="col-small">
					<!-- Add "delete" button/link -->					
					<form action="#" th:action="@{/products/delete}" method="POST">
					
						<input type="hidden" name="productId" th:value="${tempProduct.id}" />
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete this product?'))) return false">
								Delete
						</button>

					</form>
					</div>
				</div>	
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>



