<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Save Client</title>
</head>

<body>

	<div class="container">
	
		<h3>Client Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Client</p>
	
		<form action="#" th:action="@{/clients/save}"
						 th:object="${client}" method="POST">
		
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{companyName}"
					class="form-control mb-4 col-4" placeholder="Company name">

			<input type="text" th:field="*{registrationNumber}"
					class="form-control mb-4 col-4" placeholder="Registration number">

			<input type="text" th:field="*{contacts}"
					class="form-control mb-4 col-4" placeholder="Contacts">

			<input type="text" th:field="*{username}"
				   class="form-control mb-4 col-4" placeholder="Username">

			<input type="text" th:field="*{email}"
				   class="form-control mb-4 col-4" placeholder="E-mail">

			<input type="text" th:field="*{password}"
				   class="form-control mb-4 col-4" placeholder="Password">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/clients/list}">Back to Client List</a>
		
	</div>
</body>

</html>










