<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="/fragments/admin-header :: header"/>
</head>

<body>

<div th:replace="/fragments/admin-header :: navbar"/>

	<div class="container">
	
		<h3>Client Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Client</p>
	
		<form action="#" th:action="@{/clients/save}"
						 th:object="${client}" method="POST">
		
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{companyName}"
					class="form-control mb-4 col-4" placeholder="Company name">

			<input type="text" th:field="*{registrationNumber}"
					class="form-control mb-4 col-4" placeholder="Registration number">

			<input type="text" th:field="*{contacts}"
					class="form-control mb-4 col-4" placeholder="Contacts">
				
			<button type="submit" class="btn btn-info col-2">Save</button>
						
		</form>
	
		<hr>
		<a th:href="@{/clients/list}">Back to Client List</a>
		
	</div>
</body>

</html>










