<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <div th:replace="/fragments/admin-header :: header"/>
</head>

<body>

<div th:replace="/fragments/admin-header :: navbar"/>

<div class="container">

    <h3>Client Directory</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th> ID</th>
            <th>Company Name</th>
            <th>Registration number</th>
            <th>Contacts</th>
            <th>Manage Users</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempClient : ${client}">

            <td th:text="${tempClient.id}"/>
            <td th:text="${tempClient.companyName}"/>
            <td th:text="${tempClient.registrationNumber}"/>
            <td th:text="${tempClient.contacts}"/>

            <td>
                <div class="row">

                    <div class="col-small">
                        <form action="#" th:action="@{/user/addUser}" method="POST">
                            <input type="hidden" name="client-id" th:value="${tempClient.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Add User</button>
                        </form>
                </div>

                    <div class="col-small">
                        <form action="#" th:action="@{/user/list}" method="POST">

                            <input type="hidden" name="client-id" th:value="${tempClient.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">
                                User List
                            </button>

                        </form>
                    </div>
                </div>



            </td>
            <td>
                <div class="row">

                    <div class="col-small">
                        <form action="#" th:action="@{/clients/showFormForUpdate}" method="POST">

                            <input type="hidden" name="clientId" th:value="${tempClient.id}"/>
                            <button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

                        </form>
                    </div>

                    <div class="col-small">
                        <form action="#" th:action="@{/clients/delete}" method="POST">

                            <input type="hidden" name="clientId" th:value="${tempClient.id}"/>
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this client?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>
                </div>
            </td>


        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



