<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <head>
        <div th:replace="/fragments/header :: header"/>
    </head>

<body>

<div th:replace="/fragments/header :: navbar"/>

<p>
    <a th:href="@{/clients/list}"
       class="btn btn-primary btn-sm mb-3">
         Client
    </a>
    <a th:href="@{/products/list}"
       class="btn btn-primary btn-sm mb-3">
         Product
    </a>
</p>

<h2>Welcome</h2>
<p>Spring Security Thymeleaf tutorial</p>
<th:block sec:authorize="hasRole('ADMIN')">admin</th:block>

<div class="row" th:if="${#request.isUserInRole('ADMIN')}">
    <h2>This will only be displayed if authenticated user has role ROLE_SUPERUSER.</h2>
</div>

</body>
</html>